/* .uploadContainer{
    width: 70%;
    border: 2px dotted rgb(63, 59, 59);
    height: 18rem;
    cursor:pointer;
    background-color:rgb(246, 243, 238);
}
.uploadWrapper{
    margin-top: 3rem;
    gap: 2rem;
} */

.uploadWrapper{
    margin-top: 3rem;
    gap: 2rem;
}

.uploadZone{
    width: 80%;
    height: 25rem;
    border: 2px dashed grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.uploadedImage{
    width: 80%;
    height: 30rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.uploadedImage>img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.imageActions{
    width: 100%;
    margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}